@charset "UTF-8";
@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeInAndOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes imageScale {
  0% {
    transform: scale(1, 1); }
  33% {
    transform: scale(1, 1); }
  34% {
    transform: scale(1.1, 1.1); }
  66% {
    transform: scale(1.1, 1.1); }
  67% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1.2, 1.2); } }

@-moz-keyframes imageScale {
  0% {
    transform: scale(1, 1); }
  33% {
    transform: scale(1, 1); }
  34% {
    transform: scale(1.1, 1.1); }
  66% {
    transform: scale(1.1, 1.1); }
  67% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1.2, 1.2); } }

@-ms-keyframes imageScale {
  0% {
    transform: scale(1, 1); }
  33% {
    transform: scale(1, 1); }
  34% {
    transform: scale(1.1, 1.1); }
  66% {
    transform: scale(1.1, 1.1); }
  67% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1.2, 1.2); } }

@-o-keyframes imageScale {
  0% {
    transform: scale(1, 1); }
  33% {
    transform: scale(1, 1); }
  34% {
    transform: scale(1.1, 1.1); }
  66% {
    transform: scale(1.1, 1.1); }
  67% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1.2, 1.2); } }

@keyframes imageScale {
  0% {
    transform: scale(1, 1); }
  33% {
    transform: scale(1, 1); }
  34% {
    transform: scale(1.1, 1.1); }
  66% {
    transform: scale(1.1, 1.1); }
  67% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1.2, 1.2); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
  font-size: 100%; }

body {
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */ }

/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/* Initial sizing - set in 'helpers' - '_variables.scss' */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "ff-zwo-web-pro", sans-serif;
  background-color: #000;
  color: #fff; }

a {
  font-family: "ff-zwo-web-pro", sans-serif;
  transition: 0.3s;
  color: #798d91; }
  a:link {
    color: #798d91; }
  a:visited {
    color: #798d91; }
  a:active {
    color: #798d91; }
  a:hover {
    color: #df0914; }

a.buttonTextLarge {
  color: #df0914;
  font-size: 1.8rem; }
  a.buttonTextLarge:link {
    color: #df0914; }
  a.buttonTextLarge:visited {
    color: #df0914; }
  a.buttonTextLarge:active {
    color: #df0914; }
  a.buttonTextLarge:hover {
    color: #fff; }

a.link-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0); }

.box--square {
  min-height: none;
  position: relative; }
  .box--square:hover {
    cursor: hand;
    cursor: pointer; }

.grid-container {
  padding: 0 1.5rem;
  max-width: 67.5rem; }

.dot--brand {
  font-size: 0.2rem;
  margin-right: 5px;
  color: #df0914; }

img.in--title {
  width: 15rem;
  margin-right: 5px; }

/* Typography - From Skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 4.2rem; }
  h2 {
    font-size: 3.6rem; }
  h3 {
    font-size: 3.0rem; }
  h4 {
    font-size: 2.4rem; }
  h5 {
    font-size: 2.1rem; }
  h6 {
    font-size: 1.8rem; } }

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  color: #df0914;
  font-family: "utopia-std", serif;
  font-weight: 400; }

h1.with--logo {
  font-size: 3.2rem; }

h1.without--logo {
  font-size: 3.6rem; }

h1.title--article {
  font-weight: 600;
  color: #fff;
  font-size: 2.4rem; }

h2.title--name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0; }

h2.post--title {
  font-family: "ff-zwo-web-pro", sans-serif;
  font-size: 1.6rem; }
  h2.post--title a {
    color: rgba(255, 255, 255, 0.7); }
    h2.post--title a:hover {
      color: white; }

h3.title--sub-h3 {
  font-size: 1.9rem;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 10px; }

h4.title--standard {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px; }

h4.title--contact {
  margin-bottom: 10px; }

h4.title--sub-h4 {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 10px; }

p {
  font-size: 1.15rem;
  font-family: "ff-zwo-web-pro", sans-serif;
  font-weight: 400; }
  p.introduction--standard {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4; }
  p.font--intro {
    font-weight: 600; }
  p.footer--sm {
    font-weight: 600;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 10px; }
  p.copyright {
    font-weight: 600;
    color: #798d91;
    margin-top: 5px;
    font-size: 0.8rem; }

ul.bullet--copy {
  margin-left: 3rem; }
  ul.bullet--copy li {
    font-size: 1.1rem;
    font-family: "ff-zwo-web-pro", sans-serif;
    font-weight: 400;
    margin-bottom: 0.75rem; }

figure {
  margin: 0;
  padding: 0; }
  figure.border--shadow {
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  figure.photo {
    width: 100%;
    margin-bottom: 10px; }
  figure.headshot--team {
    width: 60%;
    margin-bottom: 0.75rem; }
  figure figcaption {
    margin-top: 5px;
    color: #798d91; }
    figure figcaption a {
      color: #798d91;
      text-decoration: underline; }
      figure figcaption a:hover {
        color: #fff;
        text-decoration: underline; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than phablet */
@media (min-width: 550px) {
  figure.photo {
    width: 70%; } }

/* Larger than tablet */
@media (min-width: 750px) {
  figure.photo {
    width: 50%; }
  figure.headshot--team {
    width: 50%; } }

blockquote {
  font-family: "utopia-std", serif;
  font-size: 1.6rem;
  color: #df0914;
  border: none;
  margin: 0; }
  blockquote cite {
    margin: 5px;
    font-size: 1.2rem;
    color: #df0914; }

/* Variables */
/* Overall styles */
.animation {
  height: 840px;
  text-align: center;
  font-family: "utopia-std", serif; }

.largeText {
  display: block;
  font-size: 4rem;
  line-height: 1;
  margin: 0; }

.midText {
  display: block;
  font-size: 3rem;
  line-height: 1;
  margin: 0; }

.ctaText {
  display: block;
  font-size: 2rem;
  padding-top: 150px;
  line-height: 1;
  margin: 0; }
  .ctaText a {
    color: white; }

.dispLogo {
  margin: 0 auto;
  width: 400px; }

/* Box 01 : Target (0:00 - 04:00) */
section.boxOne {
  z-index: 1;
  width: 100%;
  height: 840px;
  position: absolute; }
  section.boxOne .boxOne_inner {
    width: 100%;
    height: 840px;
    background-position: center;
    background-image: url("../images/insightx-circles-col-v1.png");
    background-repeat: no-repeat;
    -webkit-animation-name: fadeInAndOut;
    -moz-animation-name: fadeInAndOut;
    -ms-animation-name: fadeInAndOut;
    -o-animation-name: fadeInAndOut;
    animation-name: fadeInAndOut;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

/* Box 02 (5:00 - 10:00) */
section.boxTwo {
  z-index: 2;
  width: 100%;
  height: 840px;
  position: absolute;
  padding: 250px 0;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxTwo .largeText.first {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxTwo .largeText.second {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

section.boxThree_a {
  z-index: 4;
  width: 100%;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxThree_a .innerBoxFoil_a {
    width: 100%;
    height: 840px; }

section.boxThree_b {
  z-index: 5;
  width: 100%;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -ms-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxThree_b .innerBoxFoil_b {
    width: 100%;
    height: 840px; }

section.boxThree_c {
  z-index: 6;
  width: 100%;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxThree_c .innerBoxFoil_c {
    width: 100%;
    height: 840px; }

section.boxThree_d {
  z-index: 7;
  width: 100%;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxThree_d .innerBoxFoil_d {
    width: 100%;
    height: 840px; }

/* Box 04 : Logo animation (12:00 - 14:00) */
section.boxFour {
  z-index: 8;
  width: 100%;
  height: 840px;
  position: absolute;
  padding-top: 250px; }
  section.boxFour .boxFour_logo {
    margin: 0 auto; }
  section.boxFour span.red {
    color: #df0914; }
  section.boxFour .logo-animate g.an1 {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -ms-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxFour .logo-animate g.an2 {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxFour .logo-animate g.an3 {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -ms-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxFour div span.midText {
    font-weight: 700;
    display: block;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -ms-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxFour div span.ctaText {
    display: block;
    font-size: 2rem;
    padding-top: 150px;
    line-height: 1;
    margin: 0;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    section.boxFour div span.ctaText a {
      color: white; }
      section.boxFour div span.ctaText a:hover {
        color: rgba(255, 255, 255, 0.7); }

/* Box 03 : Background foil (13:00 - 16:00) */
section.boxThree {
  z-index: 3;
  width: 100%;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  section.boxThree .innerBoxFoil {
    width: 100%;
    height: 840px;
    -webkit-animation-name: imageScale;
    -moz-animation-name: imageScale;
    -ms-animation-name: imageScale;
    -o-animation-name: imageScale;
    animation-name: imageScale;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

/* Misc: to delete */
section.boxFive {
  z-index: 4;
  width: 100%;
  height: 840px;
  position: absolute;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

section.boxSix {
  z-index: 5;
  width: 100%;
  height: 840px;
  position: absolute;
  padding-top: 250px;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -ms-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Misc: to delete */
.appearFirst {
  font-size: 4rem;
  line-height: 1;
  margin: 0; }

.appearSecond {
  font-size: 4rem;
  line-height: 1;
  margin: 0; }

.appearLogo {
  width: 400px;
  margin: 0 auto;
  margin-top: 3rem;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.appearStrapline {
  font-size: 2.5rem;
  display: block;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -ms-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.appearLink {
  display: block;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

@keyframes animateBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

/* Variables */
.animation-404 {
  height: 840px;
  text-align: center;
  font-family: "utopia-std", serif; }

section.boxOne-four {
  z-index: 1;
  width: 100%;
  height: 840px;
  position: absolute; }
  section.boxOne-four .boxOne-four_inner {
    width: 100%;
    height: 840px;
    background-position: center;
    background-image: url("../images/insightx-circles-col-v1.png");
    background-repeat: no-repeat;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    -ms-animation-duration: 6s;
    -o-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxOne-four span.targetZero {
    font-size: 24rem;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    section.boxOne-four span.targetZero img {
      margin-top: -40px; }
  section.boxOne-four span.numberFour {
    color: #798d91;
    font-size: 24rem;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxOne-four .underBoxFours-text01 {
    color: #798d91;
    font-family: "ff-zwo-web-pro", sans-serif;
    font-size: 1.6rem;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  section.boxOne-four .underBoxFours-text02 {
    color: #df0914;
    font-family: "ff-zwo-web-pro", sans-serif;
    font-size: 1.6rem;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    section.boxOne-four .underBoxFours-text02 a {
      color: #df0914; }
      section.boxOne-four .underBoxFours-text02 a:hover {
        color: #fff; }

.off-canvas {
  background-color: #000; }

.top-bar {
  font-family: "ff-zwo-web-pro", sans-serif;
  padding: 1.5rem;
  font-weight: 600; }

@media (min-width: 750px) {
  .top-bar {
    padding: 1.5rem 6rem; } }

.top-bar .top-bar-left, .top-bar .top-bar-right {
  max-width: 50%; }

.top-bar, .top-bar ul {
  background-color: #2A303C; }

.top-bar a, .menu a {
  font-family: "ff-zwo-web-pro", sans-serif;
  font-weight: 600;
  color: #798d91; }

.top-bar-left .menu a {
  font-weight: 700;
  padding: 0; }

.float-right ul.menu {
  display: block;
  float: right; }

.menu .active > a, .menu .is-active > a {
  background-color: #df0914; }

/* Font Awesome replacement */
.menu-fa {
  color: #df0914;
  cursor: pointer; }

.menu .menu-icon {
  width: 40px;
  top: -5px; }
  .menu .menu-icon:after {
    background: #df0914;
    height: 3px;
    box-shadow: 0 10px 0 #df0914, 0 20px 0 #df0914; }

main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem; }

@media (min-width: 550px) {
  main {
    padding: 3rem 0; } }

.content .grid-container {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 550px) {
  .inner-content .grid-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

.post--single {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.page-template-page-what .section--part-01 h2 {
  font-size: 2rem;
  margin-bottom: 0; }

.page-template-page-what .section--part-01 .content--enlarged p {
  font-family: "utopia-std", serif;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 2.25rem; }

.page-template-page-what .section--part-02 .content--enlarged p {
  font-family: "utopia-std", serif;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem; }
  .page-template-page-what .section--part-02 .content--enlarged p:last-child {
    margin-bottom: 10px; }

.page-template-page-what .section--link {
  text-align: right; }

@media (min-width: 550px) {
  .page-template-page-what .section--part-01 h2 {
    font-size: 3rem; }
  .page-template-page-what .section--part-01 .content--enlarged p {
    font-size: 3rem;
    line-height: 1.2; } }

.columns--two {
  columns: 1; }

@media (min-width: 550px) {
  .columns--two {
    columns: 2; } }

@keyframes animatedBackground {
  from {
    background-position: 0 500%; }
  to {
    background-position: 0 0; } }

.page-template-page-how {
  background-image: url(../images/insightx-circlesv6.png);
  background-repeat: no-repeat;
  background-position: center -10px; }

.col--baseline p {
  margin-bottom: 0; }

.team--preview {
  margin-bottom: 3rem; }

section.box--square {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  /* = width for a 1:1 aspect ratio */
  overflow: hidden;
  margin-bottom: 30px;
  transition: 0.3s;
  background-color: rgba(26, 33, 40, 0.85); }
  section.box--square h2.post--title {
    color: rgba(255, 255, 255, 0.9); }
  section.box--square .box--content {
    position: absolute;
    width: 100%;
    height: 100%; }
  section.box--square .box--table {
    display: table;
    width: 100%;
    height: 100%;
    padding: 15px; }
  section.box--square .box--table-cell {
    display: table-cell;
    vertical-align: top; }

@media (min-width: 550px) {
  section.box--square {
    width: 100%;
    padding-bottom: 100%;
    /* = width for a 1:1 aspect ratio */ }
    section.box--square h2.post--title {
      color: rgba(255, 255, 255, 0.6); }
    section.box--square:hover {
      background-color: #1a2128; }
      section.box--square:hover h2.post--title {
        color: white; } }

section.data--entry {
  text-transform: uppercase;
  color: #798d91;
  margin-bottom: 5px; }

article a {
  color: #df0914; }
  article a:hover {
    color: #798d91; }

ul.standfirst {
  margin-left: 10px;
  margin-top: 5px;
  list-style-type: none; }
  ul.standfirst li {
    position: relative;
    padding-left: 15px;
    color: #df0914;
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 5px;
    font-family: "utopia-std", serif;
    font-weight: 600; }
    ul.standfirst li span {
      color: #fff; }
  ul.standfirst li::before {
    position: absolute;
    left: -5px;
    content: "\00BB"; }

.page-template-page-contact {
  background-image: url(../images/insightx-background-contact.jpg);
  background-position: top; }

section.unit_blockquote {
  padding: 0.75rem 0; }
  section.unit_blockquote blockquote {
    padding-top: 0;
    padding-left: 0;
    padding-right: 3rem;
    line-height: 1.2;
    font-size: 1.6rem;
    font-family: "utopia-std", serif;
    font-weight: 600;
    color: #798d91;
    margin-bottom: 0.75rem; }
    section.unit_blockquote blockquote cite {
      color: #fff; }

@media (min-width: 550px) {
  section.unit_blockquote blockquote {
    padding-right: 10.5rem; } }

@media (min-width: 750px) {
  section.unit_blockquote blockquote {
    padding-right: 21rem; } }

section.unit_footnote {
  border-top: 1px solid #798d91;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  section.unit_footnote p.note {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-style: italic; }

footer, .footer {
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  footer .grid-container, .footer .grid-container {
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  footer .foot--contact a, .footer .foot--contact a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: underline; }
    footer .foot--contact a:hover, .footer .foot--contact a:hover {
      color: #798d91;
      text-decoration: underline; }

@media (min-width: 550px) {
  footer, .footer {
    padding-top: 1.5rem;
    padding-bottom: 3rem; } }

.blockHome {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .blockHome h2 {
    font-size: 3rem;
    color: #fff; }
  .blockHome .red {
    color: #df0914; }

.page-template-page-contact a {
  color: #fff;
  text-decoration: underline; }
  .page-template-page-contact a:hover {
    color: #df0914; }

.form--contact form label {
  font-family: "ff-zwo-web-pro", sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 2; }
  .form--contact form label input, .form--contact form label textarea {
    font-family: "ff-zwo-web-pro", sans-serif;
    font-weight: 600;
    color: #000;
    border: none; }

.form--contact input[type="submit"] {
  padding: 10px;
  background-color: #df0914;
  border: none;
  font-weight: 600;
  font-family: "ff-zwo-web-pro", sans-serif;
  color: #fff; }
  .form--contact input[type="submit"]:hover {
    background-color: #798d91; }
