footer, .footer {
	margin-top: 0;
	padding-top: $padding--small;
	padding-bottom: $padding--general;
	& .grid-container {
		padding-top: $padding--small;
		border-top: 1px solid rgba(255,255,255,0.25);
	}
	& p:last-child {
		margin-bottom: 0;
	}
}