footer, .footer {
	margin-top: 0;
	padding-top: $padding--small;
	padding-bottom: $padding--small;
	& .grid-container {
		padding-top: $padding--small;
		border-top: 1px solid rgba(255,255,255,0.25);
	}
	.foot--contact {
		& a {
			font-size: 0.9rem;
			color: $color--white;
			text-decoration: underline;
			&:hover {
				color: $color--tertiary;
				text-decoration: underline;
			}
		}
	}
}

@media (min-width: 550px) {
    footer, .footer {
        padding-top: $padding--small;
		padding-bottom: $padding--general;
    }
}