main {
    padding-left: $padding--small;
    padding-right: $padding--small;
	padding-top: $padding--small;
	padding-bottom: $padding--small/2;
}

@media (min-width: 550px) {
    main  {
        padding: $padding--general 0;
    }
}

.content .grid-container {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 550px) {
    .inner-content .grid-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.post--single {
    padding-left: $padding--small;
    padding-right: $padding--small;
    & a {
        color: $color--tertiary;
        &:hover {
            color: $color--secondary;
        }
    }
}

// For 'What we do' page
.page-template-page-what {
    & .section--part-01 {
        & h2 {
            font-size: 2rem;
            margin-bottom: 0;
        }
        & .content--enlarged p {
            font-family: $font--family-brand;
            font-size: 2rem;
            //font-size: 290%;
            line-height: 1.3;
            margin-bottom: $margin--small*1.5;
        }
    }
    & .section--part-02 { 
        & .content--enlarged p {
            font-family: $font--family-brand;
            font-size: 2rem;
            line-height: 1.4;
            margin-bottom: $margin--small;
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    & .section--link {
        text-align: right;
    }
}

@media (min-width: 550px) {
    .page-template-page-what {
        & .section--part-01 {
            & h2 {
                font-size: 3rem;
            }
            & .content--enlarged p {
                font-size: 3rem;;
                line-height: 1.2;
            }
        }
    }
}


// For 'How we do it' page {
.columns--two {
    columns: 1;
}

@media (min-width: 550px) {
    .columns--two {
        columns: 2;
    }
}

@keyframes animatedBackground {
    from { background-position: 0 500%; }
    to { background-position:  0 0; }
}

.page-template-page-how {
    background-image: url(../images/insightx-circlesv6.png);
    background-repeat: no-repeat;
    background-position: center -10px;
    // animation: animatedBackground 3s linear;
}

.col--baseline {
    & p {
        margin-bottom: 0;
    }
}


// For 'Who we are' page
.team--preview {
    margin-bottom: $margin--general;
}


// For 'This is why it is important' page = blog posts
section.box--square {
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    overflow:hidden;
    margin-bottom: 30px;
    transition: 0.3s;
    background-color: rgba(26,33,40,0.85);
    & h2.post--title {
        color: rgba(255,255,255,0.9);
    }
    & .box--content {
        position:absolute;
        width:100%;
        height:100%;
    }
    & .box--table {
        display:table;
        width:100%;
        height:100%;
        padding:15px;
    }
    & .box--table-cell {
        display:table-cell;
        vertical-align:top;
    }
}

@media (min-width: 550px) {
    section.box--square {
        width: 100%;
        padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
        & h2.post--title {
            color: rgba(255,255,255,0.6);
        }
        &:hover {
            background-color: rgba(26,33,40,1);
            & h2.post--title {
                color: rgba(255,255,255,1);
            }
        }
    }
}

section.data--entry {
    text-transform: uppercase;
    color: $color--tertiary;
    margin-bottom: 5px;
}

article a {
    color: $color--secondary;
    &:hover {
        color: $color--tertiary;
    }
}

ul.standfirst {
    margin-left: 10px;
    margin-top: 5px;
    list-style-type: none;
    & li {
        position: relative;
        padding-left: 15px;
        color:$color--secondary;
        font-size: 1.6rem;
        line-height: 1.1;
        margin-bottom: 5px;
        font-family: $font--family-brand;
        font-weight: $font--medium;
        & span {
            color:$color--white;
        }
    }
    & li::before {
        position: absolute;
        left: -5px;
        content: "\00BB";
    }
}


// For 'Contact' page 
.page-template-page-contact {
	background-image: url(../images/insightx-background-contact.jpg);
	background-position: top;
}