/* Variables */
$animation-width: 100%; // was 100%
$animation-height: 840px;
// Seconds can be decimal e.g. 2.3s


/* Overall styles */
.animation {
	height: $animation-height;
	text-align: center;
	font-family: $font--family-brand;
}

.largeText {
	display:block;
	font-size: 4rem;
	line-height: 1;
	margin: 0;
}

.midText {
	display:block;
	font-size: 3rem;
	line-height: 1;
	margin: 0;
}

.ctaText {
	display:block;
	font-size: 2rem;
	padding-top: 150px;
	line-height: 1;
	margin: 0;
	& a {
		color: white;
	}
}

.dispLogo {
	margin: 0 auto;
	width: 400px;
}

/* Box 01 : Target (0:00 - 04:00) */
section.boxOne {
	z-index: 1;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	& .boxOne_inner {
		width: $animation-width;
		height: $animation-height;
		background-position: center;
		background-image: url('../images/insightx-circles-col-v1.png');
		background-repeat: no-repeat;
		@include fadeInAndOut(
			$duration: 4s,
			$count: 1,
			$delay: 1s,
		);
	}
}

/* Box 02 (5:00 - 10:00) */
section.boxTwo {
	z-index: 2;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	padding: 100px 0;
	@include fadeOut(
		$duration: 1s,
		$count: 1,
		$delay: 4.5s,
	);
	& .largeText.first {
		@include fadeIn(
			$duration: 1s,
			$count: 1,
			$delay: 2.5s,
		);
	}
	& .largeText.second {
		@include fadeIn(
			$duration: 1s,
			$count: 1,
			$delay: 3.5s,
		);
	}
}

@media (min-width: 700px) {
	section.boxTwo {
		padding: 250px 0;
	}
}


section.boxThree_a {
	z-index: 4;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	overflow: hidden;
	@include fadeIn (
		$duration: 2s,
		$count: 1,
		$delay: 6s,
	);
	& .innerBoxFoil_a {
		width: $animation-width;
		height: $animation-height;
	}
}

section.boxThree_b {
	z-index: 5;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	overflow: hidden;
	@include fadeIn (
		$duration: 2s,
		$count: 1,
		$delay: 7s,
	);
	& .innerBoxFoil_b {
		width: $animation-width;
		height: $animation-height;
	}
}

section.boxThree_c {
	z-index: 6;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	overflow: hidden;
	@include fadeIn (
		$duration: 2s,
		$count: 1,
		$delay: 8s,
	);
	& .innerBoxFoil_c {
		width: $animation-width;
		height: $animation-height;
	}
}

section.boxThree_d {
	z-index: 7;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	overflow: hidden;
	@include fadeIn (
		$duration: 2s,
		$count: 1,
		$delay: 9s,
	);
	& .innerBoxFoil_d {
		width: $animation-width;
		height: $animation-height;
	}
}


/* Box 04 : Logo animation (12:00 - 14:00) */
section.boxFour {
	z-index: 8;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	padding: 100px 0;
	& .boxFour_logo {
		margin: 0 auto;
	}
	& span.red {
		color: $color--secondary;
	}
	& .logo-animate {
		& g.an1 {
			@include fadeIn(
				$duration: 2s,
				$count: 1,
				$delay: 5s,
			);
		}
		& g.an2 {
			@include fadeIn(
				$duration: 2s,
				$count: 1,
				$delay: 6s,
			);
		}
		& g.an3 {
			@include fadeIn(
				$duration: 2s,
				$count: 1,
				$delay: 7s,
			);
		}
	}
	& div span.midText {
		font-weight: $font--bold;
		display:block;
		font-size: 3rem;
		line-height: 1;
		margin: 0;
		text-shadow: 0 0 7px rgba(0,0,0,0.5);
		padding: 0 25px;
		@include fadeIn(
			$duration: 2s,
			$count: 1,
			$delay: 8s,
		);
	}
	& div span.ctaText {
		display:block;
		font-size: 2rem;
		padding-top: 50px;
		line-height: 1;
		margin: 0;
		@include fadeIn(
			$duration: 2s,
			$count: 1,
			$delay: 9s,
		);
		& a {
			color: rgba(255,255,255,1);
			&:hover {
				color: rgba(255,255,255,0.7);
			}
		}
	}
}

@media (min-width: 700px) {
	section.boxFour {
		padding: 250px 0;
		& div span.midText {
			padding: 0;
		}
		div span.ctaText {
			padding-top: 150px;
		}
	}
}




/* Box 03 : Background foil (13:00 - 16:00) */
section.boxThree {
	z-index: 3;
	width: $animation-width;
	height: $animation-height;
	position: absolute;
	overflow: hidden;
	@include fadeIn (
		$duration: 1s,
		$count: 1,
		$delay: 8s,
	);
	& .innerBoxFoil {
		width: $animation-width;
		height: $animation-height;
		@include imageScale (
			$duration: 3s,
			$count: 1,
			$delay: 9s,
		);
	}
}

/* Misc: to delete */
.appearFirst {
	font-size: 4rem;
	line-height: 1;
	margin: 0;
  	// @include fadeIn(
		// $duration: 3s,
		// $count: 1,
	// );
}
.appearSecond {
	font-size: 4rem;
	line-height: 1;
	margin: 0;
	// @include fadeInAndOut(
		// $duration: 1s,
		// $count: 1,
		//$delay: 4s,
	//);
}
.appearLogo {
	width: 400px;
	margin: 0 auto;
	margin-top: $margin--general;
	@include fadeIn(
		$duration: 3s,
		$count: 1,
		$delay: 5s,
	);
}
.appearStrapline {
	font-size: 2.5rem;
	display: block;
	@include fadeIn(
		$duration: 1s,
		$count: 1,
		$delay: 7s,
	);
}
.appearLink {
	display: block;
	@include fadeIn(
		$duration: 1s,
		$count: 1,
		$delay: 8s,
	);
}
// Animate background image
@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}